body {
    background-color: #F0F2F5;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #363636;
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
}

li {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

li label {
    flex: 1;
    font-size: 16px;
    color: #363636;
}

li button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

li button:hover {
    background-color: #E04F54;
}

form {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

form input[type="text"] {
    flex: 1;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

form button {
    background-color: #008489;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover {
    background-color: #006D72;
}
